/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  background-size: 80px 390px;
}
h1 {
	color: navy;
	top: 200px; 
   	margin-left: 550px; 
   	margin-bottom: 100px;
   	margin-top: 190px;
   	/*width: 100%; 
*/

}


.brand{
	width: 370px;
	height: 100px;
	margin-bottom: 400px;
	margin-left: 20px;
	/*border: 2px solid black;*/
	
}
.phone{
	margin-left: 200px;
	margin-top: 200px;
}

.frame{
	
}
.text {
	width: 480px;
	height: 100px;
	margin-left: 540px;
	
	

	/*border: 2px solid blue;*/
}
aside{
	margin-bottom: 400px;
}
p{
	margin-top: 10px;
	margin-bottom: 30px;
	

}
li{
	margin-left: 50px;
	list-style: none;
	display: inline-block;
	color: navy;

}

footer{
	margin-left: 20px;
	text-align: center;
	padding-bottom: 50px;
	

}
div{
	width: 100%;
	height: 200px;
}
div img{ 


	display: inline-block;
	/*border: 2px solid black;*/

}
section{
	

}



