<h1> New Item</h1>

<form action="/shopping_item" method="POST">


	<label for="title"></label>
	<input type="text" name="title" placeholder="shopping Tile">


	<label for="body"></label>
	<textarea name="bod" placeholder="shopping Body"></textarea>



	<input type="submit" name="save">


</form>