<h1> New posts</h1>

<form action="/posts" method="POST">


	<label for="title"></label>
	<input type="text" name="title" placeholder="Post Tile">


	<label for="url"></label>
	<textarea name="url" placeholder="Post url"></textarea>



	<input type="submit" name="save">


</form>